.spoiler__limiter {
	max-height: 90px;
	overflow: hidden;
	margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
	
	.spoiler__limiter {
	max-height: 160px;
	overflow: hidden;
	}
}

@media screen and (min-width: 1120px) {
	
	.spoiler__limiter {
	max-height: unset;
	overflow: auto;
	}