

.page
	 {
		margin: auto;
		display: flex;
		flex-wrap: wrap;
	}

	.page__header {
		height: 88px;
		flex-basis: 100px;
		flex-grow: 1;
	}

	.page__aside {
		height: 88px;
		margin-right: 16px;
	}

	.page__main {
		flex-basis: 100%;
		max-width: 100%;
		min-height: 100vh;
		background-color: #F8F8F8;
	}


	.page__footer {
		display: none;
		height: 50px;
		flex-basis: 100%;
	}

@media screen and (min-width: 768px) {
	.page__aside {
		height: 88px;
		margin-right: 24px;
	}
}



@media screen and (min-width: 1120px) {

	.page {	
		display: block;
		position: relative;
		margin-left: 0;
		margin-right: auto;
		}

	.page__header {
		position: fixed;
		z-index: 100;
		width: 320px;
		height: 100vh;
		align-items: flex-start;
		overflow: auto;
		}

	.page__aside {
		position: absolute;
		height: auto;
		z-index: 100;
		margin-right: 30px;
		margin-top: 42px;
		right: 0;
		}

	.page__main {
		position: relative;
		margin-left: 320px;
		}

	.page__footer {
		display: none;
		height: 50px;
		}
}
