

.page
	 {
		display: flex;
		align-items: stretch;
		margin-left: 0;
		margin-right: auto;
		min-height: 100vh;
		margin: 0;

	}

	.page__header {
	width: 320px;
	}

	.page__aside {
		height: 88px;
		margin-right: 16px;
	}

	.page__main {
		flex-basis: 100%;
		max-width: 100%;
		min-height: 100vh;
		background-color: #F8F8F8;
	}


	.page__footer {
		display: none;
		height: 50px;
		flex-basis: 100%;
	}

@media screen and (min-width: 768px) {
	.page__aside {
		height: 88px;
		margin-right: 24px;
	}
}



/*@media screen and (min-width: 1120px) {*/




	.page__aside {
		position: absolute;
		height: auto;
		z-index: 100;
		margin-right: 30px;
		margin-top: 42px;
		right: 0;
		}


	.page__footer {
		display: none;
		height: 50px;
		}
/*}*/

