@import url('blocks/page/page.css');
@import url('blocks/header/header.css');
@import url('blocks/main/main.css');
@import url('blocks/aside/aside.css');
@import url('blocks/button/button.css');
@import url('blocks/title-1/title-1.css');
@import url('blocks/submenu/submenu.css');
@import url('blocks/text/text.css');
@import url('blocks/spoiler/spoiler.css');
@import url('blocks/image/image.css');
@import url('blocks/info/info.css');

@font-face {
    font-family: 'TT Lakes';
    src: local('TT Lakes Bold'), local('TT Lakes-Bold'),
         url('https://github.com/RomanZubanov/romanzubanov.github.io/blob/d334a08a745ef3065c7a481784c6bb78765caa55/fonts/TTLakes-Regular.woff?raw=true') format('woff'),
    font-weight: 400;
    font-style: normal;
	}

@font-face {
    font-family: 'TT Lakes';
    src: local('TTT Lakes Medium'), local('TT Lakes-Medium'),
        url('https://github.com/RomanZubanov/romanzubanov.github.io/blob/d334a08a745ef3065c7a481784c6bb78765caa55/fonts/TTLakes-Bold.woff?raw=true') format('woff'),
    font-weight: 500;
    font-style: normal;
	}

@font-face {
    font-family: 'TT Lakes';
    src: local('TT Lakes Regular'), local('TT Lakes-Regular'),
        url('https://github.com/RomanZubanov/romanzubanov.github.io/blob/d334a08a745ef3065c7a481784c6bb78765caa55/fonts/TTLakes-Bold.woff?raw=true') format('woff'),
    font-weight: 700;                                                     
    font-style: normal;
	}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
	font-family: "TT Lakes", "Tahoma", sans-serif;
}


@media screen and (min-width: 1120px) {

	.button--icon--request .button__label--none, 
	.button--icon--status .button__label--none 	 {
		position: static;
		font-size: 16px;
		padding-right: 8px;
		}
}



