.header {
	display: flex;
	flex-direction: column;
	background-color: #fff;

	padding-top: 20px;
	padding-left: 24px;
	padding-right: 24px;
	padding-bottom: 30px;

	filter: drop-shadow(16px 0px 52px  rgba(14, 24, 80, 0.2)) ;

}

.header__wrapper-1 {
	display: flex;
	width: 100%;
	margin-bottom: 46px;
	justify-content: space-between;
}

.header__logo {
	margin-right: auto;
}


.header__contacts {
	display: flex;
	flex-direction: column;
	margin-top: auto;
	margin-bottom: 40px;
}

.header__contacts > :nth-child(1) {
	margin-bottom: 16px;
}

.header__contacts > :nth-child(2) {
	margin-bottom: 12px;
}

.header__wrapper-2 {
	display: flex;
	width: 152px;
	justify-content: space-between;
}

	.header__menu-button {
		display: flex;
		align-items: center;
	}
/*
	.header__menu-button::after {
	content: "";
	margin-left: 20px;
	width: 2px;
	height: 32px;
	border-radius: 1px;
	background-color: #EAEAEA;
	}
*/

.header__logo {
		margin-left: 20px;
	}


