
.brands {
    margin: auto;
    max-height: 100%;
    overflow: hidden;
}


.brands__container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 16px;
}

@media screen and (min-width: 768px){
    .brands {
        max-width: 720px;
    }

    .brands__container {
        flex-wrap: wrap;
        column-gap: 24px;

    }
}

@media screen and (min-width: 1200px){
    .brands {
        max-width: 1056px;
    }

    .brands__container {

        column-gap: 32px;
    }
}


.brands__item {
    box-sizing: border-box;
    height: 72px;
    flex-basis: 240px;
    flex-shrink: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 16px;
    padding-right: 15px;

    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
}



@media screen and (min-width: 768px) {
    .brands__item {
        flex-basis: 224px;
    }
}

@media screen and (min-width: 1200px){
    .brands__item {
        flex-basis: 240px;
    }
}


.brands__item::after {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    border: 2px solid #FF3E79;
    border-radius: 50%;
    background-image: url("brands__icon/icon.svg");
    background-repeat: no-repeat;
    background-position: center;

}

