.button {
	-webkit-appearance: none;
	-moz-appearance: none;
   	appearance: none;
   	border: 0;
   	padding: 0;
   	background: none;
}

.button__label {
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
	vertical-align: middle;
}

.button--circle--pink .button__label {
	padding-right: 8px;
}

.button--circle--pink:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #FF3E79;
	background-repeat: no-repeat;
	background-position: center;
}

.button--circle--pink {
	transition: .2s;
}

.button--circle--pink:hover {
	filter: hue-rotate(-60deg);
	transform: scale(1.2);
}

.button--icon--menu:after {
	background-image: url('img/icon-menu.svg');
}

.button--icon--request:after {
	background-image: url('img/icon-request.svg');
}

.button--icon--status:after {
	background-image: url('img/icon-status.svg');
}

.button--icon--phone:after {
	background-image: url('img/icon-phone.svg');
}

.button--icon--chat:after {
	background-image: url('img/icon-chat.svg');
	background-position: 50% 55%;
}

.button--icon--profile:after {
	background-image: url('img/icon-profile.svg');
	background-position: 50% 45%;
}

.button--icon--search:after {
	background-image: url('img/icon-search.svg');
	background-position: 50% 50%;
}


.button__label--none {
	position: absolute;
	font-size: 0;
	padding: 0;
}


.button--read-more {

   	padding-left: 32px;
   	font-size: 16px;
   	line-height: 24px;
   	font-weight: 500;
	}

.button--read-more::before {
	content: "";
	position: absolute;
	width: 24px;
	height: 24px;
	margin-left: -32px;
	background-image: url("img/icon-read-more.svg");
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 8px;
	}

